<h1>Cambiar contrase単a</h1>
<form id="changePasswordForm">
    <div class="form-group">
        <label for="inputNewPassword">Nueva Contrase単a</label>
        <input type="password" id="inputNewPassword" name="newPassword" placeholder="Ingrese su nueva contrase単a" autocomplete="off" required>
    </div>
    <button type="submit">Cambiar contrase単a</button>
</form>

<script src="/static/js/changepass.js"></script>
